<!-- books/templates/books/books_list.html -->

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <h2> Hello {{ name }} </h2>

    <h4> List of authors </h4>

    <ul>
    {% for obj in object_list %}
        <li> {{ obj }} </li>
    {% endfor %}
    </ul>

{% endblock %}