<!-- books/templates/books/books_detail.html -->

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <h2> Book details </h2>

    <br>
    <h4> Title : {{ object.title }} </h4>

    <br>
    <h4> Formats and price (ForeignKey) </h4>
    <h6> Total format : {{object.format_set.all.count}} </h6>
    {% for format in object.format_set.all %}
        <!-- forloop.counter  starts from 1 -->
        <p> {{ forloop.counter }}: {{ format }} $ {{format.price}} </p>
    {% endfor %}
   
    <br>
    <h4> Authors (Many-to-many)</h4>
    <h6> Number of authors : {{object.authors.count}} </h6>
    {% for author in object.authors.all %}
        <!-- forloop.counter0  starts from 0 -->
        <p> {{ forloop.counter0 }}:  {{author}} </p>
    {% endfor %}

    <br>
    <!-- <a href="{% url 'book:booklist' %}"><p class="btn btn-info">Back to list</p></a> -->
    
    <!-- i.e go to 'class-book in current folder' and 'get_book_list_url' -->
    <a href="{{book.get_book_list_url}}"><p class="btn btn-info">Back to list</p></a>
{% endblock %}