<!-- books/templates/books/books_update.html -->

{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
    <div class="col-sm-offset-3 col-sm-4">
    <h2> Book Update </h2>

        <h3> {{form.instance.title}} </h3>

        {% if errors %}
            <span style="color: red">{{ errors }}</span>
        {% endif %}

        <form method="post"> {% csrf_token %}
            <!-- {{ form.as_p }} -->
            {{ form|crispy}}
            <button type="submit" class="btn btn-info"> Save </button>
        </form>
    </div>
    </div>

    <a href="{{book.get_book_list_url}}"><p class="btn btn-info">Back to list</p></a>
{% endblock %}