<!-- books/templates/books/thanks_create.html -->

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <h4> Thank you </h4>
    <p> {{item}} "{{title}}" is created successfully</p>

    <a href="/"><button class="btn btn-info">Home Page</button></a>

{% endblock %}