<!-- templates/bookstore/all_links.html -->

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <h1> Links </h1>

    <table class="table">
        <tr>
            <th> View name ( with URL) </th>
            <th> Type </th>
            <th> Description</th>
        </tr>
        <tr>
            <td> <a href="{% url 'home' %}">bookstore/views/all_links</a></td>
            <td> Home page of this website </td>
            <td>List of links</td>
        </tr>
        <tr>
            <td> <a href="{% url 'book:httpExample' %}">books/views/http_example</a></td>
            <td> function based view </td>
            <td>HttpResponse</td>
        </tr>
        <tr>
            <td> <a href="{% url 'book:fexample' %}">books/views/fexample</a></td>
            <td> function based view </td>
            <td>Context in "function based" view</td>
        </tr>
        <tr>
            <td> <a href="{% url 'book:cexample' %}">books/views/cexample</a></td>
            <td> TemplateView </td>
            <td>Context in "Class based" view</td>
        </tr>
        <tr>
            <td> <a href="{% url 'book:fbooklist' %}">books/views/book_list</a></td>
            <td> function based view </td>
            <td>Book list</td>
        </tr>
        <tr>
            <!-- <td> <a href="{% url 'book:booklist' %}">books/views/BookList</a></td> -->
            <td> <a href="{{book.book.get_book_list_url}}">books/views/BookList</a></td>
            <td> ListView </td>
            <td>Book list : <b>book.book.get_book_list_url</b> is used in url <br>
                i.e. <b>go to folder-book->class-book->get_book_list_url</b> </td>
        </tr>
        <tr>
            <td> <a href="{% url 'book:authorlist' %}">books/views/AuthorList</a></td>
            <td> function based view </td>
            <td>Author list</td>
        </tr>
        <tr>
            <td> <a href="{% url 'book:booklist' %}">books/views/BookDetail</a></td>
            <td> DetailView </td>
            <td>Go to list page and click on any book for details<br>
                <b>(ManyToMany and ForeignKey)</b>
            </td>
        </tr>
        <tr>
            <td> <a href="{% url 'book:freadargs' 'tiger' %}">books/views/read_arg</a></td>
            <td> function based view </td>
            <td> Read args from URL </td>
        </tr>
        <tr>
            <td> <a href="{% url 'book:readargs' 'tiger' %}">books/views/ReadArgs</a></td>
            <td> TemplateView </td>
            <td> Read args from URL <br> 
                <b>url 'book:readargs' 'tiger'</b>
            </td>
        </tr>
        <tr>
            <td> <a href="{% url 'book:freadkwargs' test='tiger' %}">books/views/read_kwarg</a></td>
            <td>  function based view  </td>
            <td> Read kwargs from URL <br>
                 <b>url 'book:freadkwargs' test='tiger'</b> 
            </td>
        </tr>
        <tr>
            <td> <a href="{% url 'book:readkwargs' test='tiger' %}">books/views/ReadKwarg</a></td>
            <td> TemplateView </td>
            <td> Read kwargs from URL </td>
        </tr>
        <tr>
            <td> <a href="{% url 'book:searchfromurl' urlsearch='ing'%}">books/views/SearchBooks</a></td>
            <td> ListView </td>
            <td> Search book by reading URL </td>
        </tr>
        <tr>
            <td> <a href="{% url 'book:qsearchfromurl' qurlsearch='ah'%}">books/views/QSearchBooks</a></td>
            <td> ListView </td>
            <td> Q Search book by reading URL <br>
                <b>(ManyToMany and ForeignKey)</b>
            </td>
        </tr>
        <tr>
            <td> <a href="{% url 'book:booksearch' %}">books/views/BookSearch</a></td>
            <td> TemplateView </td>
            <td> Go to search page </td>
        </tr>
        <tr>
            <td> <a href="{% url 'book:booksearchresult' %}?q=ch">books/views/BookSearchResult</a></td>
            <td> ListView </td>
            <td> Fill search value and press enter</td>
        </tr>
        <tr>
            <td> <a href="{% url 'book:fauthorcreate' %}">books/views/author_create</a></td>
            <td> function based view </td>
            <td> Form to create Author (only staff can create)</td>
        </tr>
        <tr>
            <td> <a href="{% url 'book:authorcreate' %}">books/views/AuthorCreate</a></td>
            <td> CreateView </td>
            <td> Form to create Author (only staff can create)</td>
        </tr>
        <tr>
            <td> <a href="books/1/update/">books/views/BookUpdate</a></td>
            <td> UpdateView </td>
            <td> Form to update books <br>
                (Login as "staff") or </br>
                (change 1 to correct 'id' in book/1/update/)
            </td>
        </tr>
    </table>

{% endblock %}
