{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Logged out" %}{% endblock %}

{% block content %}
<div class='col-md-6 col-md-offset-2'>
	<br><br>
	<h4>{% trans "Successfully logged out" %}.<h4>
</div>
{% endblock %}