{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<p>{% trans "Enter your new password below to reset your password:" %}</p>
<div class='col-md-6 col-md-offset-2'>
	<form method="post" action="">
	    {% csrf_token %}
	    {{ form|crispy }}
	    <input type="submit" value="{% trans 'Set password' %}" />
	</form>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}