{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class='col-md-offset-2'>
	<p>
	    {% blocktrans %}
	    Forgot your password? <br>Enter your email in the form below and we'll send you instructions for creating a new one.
	    {% endblocktrans %}
	</p>
</div>
<div class='col-md-6 col-md-offset-2'>
	<form method="post" action="">
	    {% csrf_token %}
	    {{ form|crispy }}
	    <input type="submit" value="{% trans 'Reset password' %}" />
	</form></div>
{% endblock %}


{# This is used by django.contrib.auth #}