{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<div class='col-md-6 col-md-offset-2'>
	<form method="post" action="">
	    {% csrf_token %}
	    {{ form|crispy }}
	    <input type="submit" value="{% trans 'Change password' %}" />
	</form>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}