<!-- templates/navbar.html  -->
<!-- if you are using this template for other project,  -->
<!-- then first remove the django-urls in the below code (if any)  -->
<!-- e.g. replace {% url "book:booksearchresult" %} with # -->


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="nav navbar-brand" href="/">Bookstore</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <!-- <li><a href="/books">All Books</a></li> -->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
        </li>
      </ul>

      <form class="navbar-form pull-left" method="GET" action='/books/booksearchresult/'>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Books" name="q">
          </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
            <li><a href="/accounts/password/change">Reset Password</a></li>
            <li><a href="/accounts/logout">Logout</a></li>
        {% else %}
            <li><a href="/accounts/login">Login</a></li>
            <li><a href="/accounts/register">Register</a></li>
        {% endif %}
      </ul>

    </div><!--/.nav-collapse 
    -->
  </div>
</nav>